.tabs {
  background-color: #c13b6c;
  border: 0px;
  padding: 5px;
  margin: 5px;
  margin-left: 2px;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s;
}

.tabs:hover {
  background-color: #a03055;
  color: white;
  transition: background-color 0.3s;
}
.tabs:active {
  color: white;
}

.tabs:focus {
  background-color: #f8f9fa;
  color: #c13b6c;
  transition: background-color 0.3s;
}
.tab-active {
  background-color: #f8f9fa;
  color: #c13b6c;
}

.tabs-juvenil {
  background-color: #088634;
  border: 0px;
  padding: 5px;
  margin: 5px;
  margin-left: 2px;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s;
}

.tabs-juvenil:hover {
  background-color: #088634;
  color: white;
  transition: background-color 0.3s;
}
.tabs-juvenil:active {
  color: white;
}

.tabs-juvenil:focus {
  background-color: #f8f9fa;
  color: #088634;
  transition: background-color 0.3s;
}
.tab-active-juvenil {
  background-color: #f8f9fa;
  color: #088634;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
