footer {
  background: linear-gradient(
    to bottom right,
    #b62f3d 44%,
    #e783b8 69%,
    #ffccfb 87%
  );
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  z-index: 99;
  display: flex;
  color: white;
}
.bg-principal {
  background: linear-gradient(
    to bottom right,
    #290004 10%,
    #b62f3d 44%,
    #e783b8 69%,
    #ffccfb 87%
  );
}

.bg-juvenil {
  background: rgb(8, 134, 52);
  background: linear-gradient(
    90deg,
    rgba(8, 134, 52, 1) 0%,
    rgba(52, 175, 176, 1) 35%,
    rgba(164, 255, 207, 1) 100%
  );
}
footer > div {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: white !important;
}
