#root { 
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  height: 100vh;
}
.bg-principal{
  background: linear-gradient(to bottom right, #290004 10%, #b62f3d 44%, #e783b8 69%, #ffccfb 87%);
}
.bg-gral{
  background-color: #F8F9FA;
}
.color-block{
  background: white;
  height: 5px;
  width: 100%;
}

.text-align-justify{
  text-align: justify;
}

<<<<<<< HEAD
.fondo-nexus {
  background-image: url("./assets/Poster.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
=======
.fondo-nexus{
  background-image: url("./assets/Logo.png");
  width: 100vw;
  background-repeat: repeat;
}
.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}
.info{
  font-size: x-small;
}
>>>>>>> rocio
